<% layout("/layouts/boilerplate.ejs")%>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Create a New Listing</h3>
      <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
        
        <!-- title of the listings form  -->
        <div class="mb-3">
            <label for="title" class="form-lable">Title</label>
            <input 
            name="listing[title]" 
            placeholder="Add a catchy title" 
            type="text" 
            class="form-control"
            required>
            <div class="valid-feedback"> Title is looking good!</div>
        </div>

        <!-- description of the listings form -->
        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
          <div class="invalid-feedback">Please enter a short description
          </div>
        </div>

        <!-- image upload -->
        <div class="mb-3">
          <label for="image" class="form-lable">Upload Listing Image</label>
          <input name="listing[image]" 
          type="file" 
          class="form-control"/>
        </div>

        <!-- price of the listing -->
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input name="listing[price]" placeholder="1599"  class="form-control" required>
            <div class="invalid-feedback"> Price should be valid</div>
          </div>

          <!-- country of listing -->
          <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input name="listing[country]" placeholder="India" 
            type="text" class="form-control" required>
            <div class="invalid-feedback"> Please enter the valid country name</div>
          </div>
        </div>
        
        <!-- location of listing -->
        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input name="listing[location]" placeholder="Chandigarh" type="text" class="form-control" required>
          <div class="invalid-feedback"> Please enter the valid location</div>
        </div>
        <!-- category -->
         <div>
          <label for="category">Category</label>
          <select name="listing[category]" id="category" required>
            <option value="Trending">Trending</option>
            <option value="Rooms">Rooms</option>
            <option value="Iconic Cities">Iconic Cities</option>
            <option value="Mountains">Mountains</option>
            <option value="Castles">Castles</option>
            <option value="Amazing Pools">Amazing Pools</option>
            <option value="Camping">Camping</option>
            <option value="Farms">Farms</option>
            <option value="Arctic">Arctic</option>
            <option value="Domes">Domes</option>
            <option value="Boats">Boats</option>
          </select>
         </div>
        <button class="btn btn-dark add-btn mt-3">Add</button>    
      
      </form>
    </div>
        
</div>
</body>
